.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #EEEEEE;
    display: grid;
    place-content: center;

}

.header__menuBtn {
    position: relative;
    z-index: 10;
}

.menu__header--titre {
    width: 322px;
    height: 55px;
    flex-shrink: 0;
    color: #000;
    
    text-align: center;
    /* Titre 2 */
    font-family: BhuTuka Expanded One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}

nav>ul>li {
    list-style: none;

    width: 225px;
    height: 55px;
    flex-shrink: 0;
    color: #000;
    
    text-align: center;
    font-family: BhuTuka Expanded One;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}

nav>ul>li>a {
    color: #000;
    text-decoration: none;
}

.menu--logosite {
    width: 80%;
    height: auto;
    flex-shrink: 0;
    padding: 20px;
}

.menu__header--croix {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    padding: 20px;
}

